<h1 align="center">Add new Photos</h1>

<%= form_for(@photo, :html => { :multipart => true }) do |f| %>
  
     <div class="field">
       <%= f.label :image %><br>
       <%= f.file_field :image, :multiple => true %>
     </div>


   <div class="actions">
     <%= f.submit %>
   </div>
<% end %>