<div class="container">

<footer class="footer">

<small>

Copyright © <a target="blank" href="https://www.ziggletech.com/">Ziggletech</a>

by <a href="">Shaurabh Bhatt</a>

</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>